.h-j-header {
  width: 100% !important;
  max-width: 1440px;
  height: 100% !important;
  max-height: 135px;
  background-color: #fff3d6;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* .h-j-logo {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    justify-content: flex-start;
    padding: 5px;
} */
.h-j-links {
  display: flex;
  flex-direction: row;
  justify-content: center !important;
  gap: 2rem !important;
  align-items: center !important;
  margin-left: 15rem;
  padding-left: 17px;
  font-family: sans-serif;
  font-size: 18px;
  color: #006422;
}
.h-j-hero-section {
  background-image: url("./assets/hero-img-3.jpg");
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
  position: relative;
}
.h-j-hero-body-image {
  padding-top: 130px !important;
  display: flex !important;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#hero-sec-button {
  display: flex;
  justify-content: center !important;
  align-items: center;
  padding-top: 50px;
}

.h-j-hero-page-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 254px;
  font-weight: 600;
  color: #006422;
  cursor: pointer;
  height: 60px;
  font-size: 18px;
  font-family: sans-serif;
  border: none;
  background-size: 300% 100%;

  border-radius: 09px;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.h-j-hero-page-button:hover {
  background-position: 100% 0;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.h-j-hero-page-button:focus {
  outline: none;
}

.h-j-hero-page-button.color-1 {
  background-image: linear-gradient(
    to right,
    #f0a1be,
    #3f1c0f,
    #cf4376,
    #fbb03b
  );
}

.ad-next-section {
  background-color: #fff3d6;
}

.ad-next-img {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 10rem 0 8rem 0;
}
.ad-img {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
}
.ad-next-sec-text p {
  font-size: 50px;
  line-height: 5rem;
  text-align: center;
  color: #006422;
  font-weight: 600;
}
