/* Initial Set up */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* header Styling */
.h-j-header {
  width: 100%;
  min-height: 90px;
  max-height: 135px;
  background-color: #fff3d6;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
}
.h-j-logo-container {
  width: 23%;
}
.h-j-logo {
  width: 100%;
  min-width: 130px;
}
.h-j-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
  align-items: center;
  font-size: 18px;
  font-weight: 550;
  color: #006422;
}
.nav-link-item {
  text-decoration: none;
}

@media (max-width: 650px) {
  .h-j-links {
    font-size: 14px;
  }
}

/* Hero Section styling */
.h-j-hero-section {
  background-image: url("./assets/hero-img-3.jpg");
  width: 100%;
  height: 85vh;
  background-position: center;
  background-size: cover;
  position: relative;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.h-j-hero-body-image {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transform: translateY(-50%);
  animation: fadeIn 1s forwards;
  animation-delay: 0.5s;
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
#hero-sec-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.h-j-hero-sec-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 254px;
  font-weight: 600;
  color: #006422;
  cursor: pointer;
  height: 60px;
  font-size: 18px;
  font-family: sans-serif;
  border: none;
  background-size: 300% 100%;

  border-radius: 09px;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.h-j-hero-sec-button:hover {
  background-position: 100% 0;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.h-j-hero-sec-button:focus {
  outline: none;
}

.h-j-hero-sec-button.color-1 {
  background-image: linear-gradient(
    to right,
    #f0a1be,
    #3f1c0f,
    #cf4376,
    #fbb03b
  );
}
.h-j-hero-sec-button.color-1:hover {
  text-decoration: underline;
}
/* Add Next Section Styling */

.ad-next-section {
  background-color: #fff3d6;
}

.ad-next-section {
  padding-top: 10rem;
}
.ad-next-img {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 0px 20px 50px 20px;
}

.ad-img {
  width: 330px;
  height: 520px;
  transition: 1s ease;
  box-shadow: rgba(0, 0, 0, 0.3) 10px 10px 50px;
  border-radius: 10px;
}

.ad-img:hover {
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.1);
  transform: scale(0.8);
  transition: 1s ease;
}
.ad-next-sec-text p {
  font-size: 50px;
  line-height: 5rem;
  text-align: center;
  color: #006422;
  font-weight: 600;
}

.h-j-image-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 50px;
}
.h-j-image-container {
  position: relative;
  width: calc(33.33% - 7px);
  margin-bottom: 20px;
}
.h-j-image-container img {
  display: block;
  width: 100%;
}

.h-j-image-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 5px 10px;
  font-family: sans-serif !important;
  color: #fff3d6;
  font-size: 42px;
  font-weight: bold;
  text-align: center;
}
.h-j-image-text:hover {
  color: hsl(37, 81%, 50%);
  text-decoration: underline !important;
}

.h-j-blog-heading {
  font-size: 50px;
  line-height: 1rem;
  text-align: center;
  color: #006422;
  font-weight: 600;
}

.h-j-blog-heading-sub {
  font-size: 20px;
  line-height: 1rem;
  text-align: center;
  color: #006422;
  font-weight: 600;
}

.h-j-blog-post {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 122px;
}
.h-j-blog-post-img {
  width: calc(33.33% - 30px);
  margin-bottom: 20px;
  border: none !important;
  border-radius: 5px;
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.15);
}

.h-j-blog-post-img img {
  display: block;
  width: 100%;
}

.h-j-blog-post-text {
  font-family: sans-serif !important;
  color: #006422;
  text-align: center;
}
.h-j-blog-post-text h3 {
  font-family: sans-serif !important;
  line-height: 2rem;
}
.h-j-blog-post-text p {
  font-family: sans-serif !important;
  line-height: 1.5rem;
  font-weight: 500;
  margin: 2.5rem 0rem;
}

.learn-more {
  margin-bottom: 3rem;
  width: 150px;
  height: 50px;
  background-color: #a37730;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.learn-more:hover {
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

.h-j-footer-sec {
  background-color: #023020;
}

.h-j-footer-sec {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer-1-sec {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 2rem 0rem 2rem 2rem;
}

.footer-sc-icons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

.footer-2-sec {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
  padding: 2rem 8rem 2rem 4rem;
  align-items: center;
  font-size: 15px;
  font-family: sans-serif;
  font-weight: 600;
  color: #fff3d6;
  line-height: 2rem;
}
.footer-btn-sec {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.footer-btn {
  width: 170px;
  height: 60px;
  font-family: sans-serif;
  font-weight: 600;
  background-image: linear-gradient(
    to right,
    #403b4a 0%,
    #e7e9bb 51%,
    #403b4a 100%
  );
  color: #006422;
  border-radius: 10px;
  font-size: 15px;
  display: block;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.3);
}

.footer-btn:hover {
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
  background-position: right center;
  color: #fff;
  font-weight: 700;
  text-decoration: none;
}
